/* General Styles */
body {
  background-image: url(../image/ron.webp); 
 background-position: center;
 background-size: cover;

 background-attachment:fixed;
 background-repeat: no-repeat;
 display:flex;
 align-items:center;
 justify-content: center;
 height:90vh;
 padding:5px 20px;
}
body::before{
  content:"";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: rgba(70, 70, 70, .8);
}

.login-container {
  background-image: linear-gradient(to right,white,aqua);
  border: 1px solid black;
border-radius: 10px;
padding: 30px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
width: 80%;
max-width: 280px;
text-align: center;
z-index: 999;
}

.title {
font-size: 2rem;
margin-bottom: 20px;
color: #2c3e50;
}

.login-form {
display: flex;
flex-direction: column;
gap: 15px;
}

.input-group {
text-align: left;
}

.input-group label {
font-size: 0.9rem;
margin-bottom: 5px;
display: block;
color: #333;
}

.input-group input {
width: 100%;
padding: 10px;
font-size: 1rem;
border: 1px solid #ddd;
border-radius: 5px;
outline: none;
transition: border-color 0.3s;
}

.input-group input:focus {
border-color: #ff6347;
}

.btn {
background: #ff6347;
color: #fff;
padding: 10px 15px;
border: none;
border-radius: 5px;
font-size: 1rem;
cursor: pointer;
transition: background 0.3s;
}

.btn:hover {
background: #e5533d;
}

.signup-link {
margin-top: 15px;
font-size: 0.9rem;
}

.signup-link a {
color: #ff6347;
text-decoration: none;
}

.signup-link a:hover {
text-decoration: underline;
}
