 <style>
      .footer-container{
        background:orange;
        color: white;
        text-align: left;
        height: 200px;
        margin: 0;
        padding: 10px 0;
        display: flex;
        justify-content: space-around;
      
      }
      .contact-info{
        text-align: left;
        text-decoration: none;
        list-style-type: none;
      }
      .quick-links{
        position: absolute;
        right:60%;
      }
      .quick-links ul{
        list-style: none;
        text-decoration: none;
        text-align: left;
        padding-left: 0%;
      }

       
        .social-icon {
            display: inline-block;
            width: 30px;
            height: 30px;
            padding-left: 10px;

        }
        .social-icon img {
            width: 100%;
            height: 100%;
        }
        

    </style>